@model Room
@{
    ViewData["Title"] = "Room";
}

<h1>@Model.Name</h1>

<div>@Model.Block</div>
<div>@Model.Floor</div>
<div>@Model.Number</div>

<div>
    <div>Type: @Model.Type</div>
    <div>Type: @Model.Status</div>
</div>

