@model AppointmentListViewModel
@{
    ViewData["Title"] = "Add Appoinment";
}

@*
    Page for displaying availability of appointments in the selected date
    Accessible for Professor/Admin users only
*@

<h1>Add Appoinment on @Model.Date.ToShortDateString()</h1>
<div class="m-3 justify-content-center">
    <partial name="RoomPaginationPartial" for="@Model.RoomPagination" />
</div>

<table class="table">
    <tr>
        <th>Time</th>
        <th colspan="2" class="text-center">Status</th>
    </tr>

    @*
        Create all the posible blocks of 30 minutes in the range "StartRange = 8:30 AM"
        to "EndRange" = 10:30 PM
    *@
    @for (; Model.StartRange.TimeOfDay < Model.EndRange.TimeOfDay; Model.StartRange += 30.Minutes())
    {
        // If the time of the appointment is in the past, it won't be diplayed
        if (Model.Date.Date == DateTime.Today && Model.StartRange.TimeOfDay < DateTime.Now.TimeOfDay)
        {
            // Don't print the block of time
        }
        else
        {
            /*
                Verifies if there is any appointment in the current block of time

                If it overlaps an appointment, add a Busy message
            */
            @if (Model.Room.Schedule.IsOverlapingInDate(Model.Date.Date + Model.StartRange.TimeOfDay))
            {
                // Find overlapping appointment
                using (var app = Model.Room.Schedule.GetOverlappingAppointment(Model.Date.Date + Model.StartRange.TimeOfDay))
                {
                    app.RoomCode = Model.Room.RoomCode;
                    if (app.Id != (Model.OverlappedAppointment?.Id ?? 0))
                    {
                        <tr>
                            @*Time of the block*@
                            <td class="align-middle">
                                    @Model.StartRange.ToShortTimeString()
                            </td>
                            @* The appointment belongs to the current logged user? *@
                            @if (ViewContext.IsAccessibleForUser(app.UserId))
                            {
                                <td class="align-middle">
                                    <div class="d-xs-block d-sm-flex row align-items-center">
                                        <div class="col-xs-12 col-sm-6">
                                            Your appointment for &quot;@app.Description&quot;
                                        </div>
                                        <div class="d-flex col-xs-12 col-sm-6">
                                            <partial name="ButtonEditAppointmentPartial" for="@app" />
                                            <partial name="ButtonDeleteAppointmentPartial" for="@app" />
                                            <partial name="ButtonRepeatAppointmentPartial" for="@app" />
                                        </div>
                                    </div>
                                </td>

                            }
                            // is the current logged user an admin?
                            else if (ViewContext.IsUserInRool(nameof(UserRoles.Admin)))
                            {
                                <td class="align-middle">
                                    <div class="d-xs-block d-sm-flex row align-items-center">
                                       <div class="col-xs-12 col-sm-6">
                                           Booked by @Model.Room.Schedule.GetOverlappingAppointmentUserName(Model.Date.Date + Model.StartRange.TimeOfDay)
                                       </div>
                                        <div class="d-flex col-xs-12 col-sm-6">
                                            <partial name="ButtonEditAppointmentPartial" for="@app" />
                                            <partial name="ButtonDeleteAppointmentPartial" for="@app" />
                                            <partial name="ButtonRepeatAppointmentPartial" for="@app" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                </td>
                            }
                            else
                            {
                                // Add Booked message
                                <td colspan="2" class="align-middle">
                                    Booked by @Model.Room.Schedule.GetOverlappingAppointmentUserName(Model.Date.Date + Model.StartRange.TimeOfDay)
                                </td>
                            }

                        </tr>
                        Model.OverlappedAppointment = app;
                    }
                }

            }
            else
            {
                var btn = new BtnNewAppViewModel
                {
                    RoomCode = Model.Room.RoomCode,
                    RoomId = Model.Room.Id,
                    StartingDate = (Model.Date.Date + Model.StartRange.TimeOfDay),
                    Message = "Free"
                };
                //    Verifies it the current block of time is available or if it is already in the past
                <tr>
                    @* Time of the block *@
                    <td class="align-middle">
                        @Model.StartRange.ToShortTimeString()
                    </td>
                    @* Link to create appointment *@
                    <td class="align-middle">
                        <div class="text-center">
                            <partial name="ButtonCreateNewAppointmentPartial" for="@btn" />
                        </div>
                    </td>
                </tr>
            }
        }
    }
</table>
<div class="m-3 justify-content-center">
    <partial name="RoomPaginationPartial" for="@Model.RoomPagination" />
</div>
@* Go back to room page *@
<div>
    <a class="btn btn-warning"
       asp-action="Room"
       asp-controller="Room"
       asp-route-code="@Model.Room.RoomCode"
       asp-route-pDate="@Model.Date.ToString("MM-dd-yyyy")">
        Cancel
    </a>
</div>

<script defer src="~/js/deleteConfirmation.js" asp-append-version="true"></script>