@model Appointment
@{
    ViewData["Title"] = "Add Appointment";
}

<h1>Add Appointment on @Model.Start.Date.ToShortDateString()</h1>
<div asp-validation-summary="All"></div>
<form asp-action="Appointment" asp-controller="Appointment" method="post">
    <input asp-for="RoomName" type="hidden" />
    <input asp-for="ScheduleId" type="hidden" />
    <div class="form-group">
        <div><span asp-validation-for="UserName"></span></div>
        <label asp-for="UserName" class="form-control"></label>
        <input asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <div><span asp-validation-for="Start"></span></div>
        <label asp-for="Start" class="form-control"></label>
        <select asp-for="Start" class="form-control">
            @for (DateTime timeOption = DateTime.Today.AddHours(8.5); timeOption.TimeOfDay <= (DateTime.Today + 22.Hours()).TimeOfDay; timeOption += 30.Minutes())
            {
                if (Model.Start.Date > DateTime.Today.Date || (Model.Start.Date == DateTime.Today.Date && timeOption.TimeOfDay >= DateTime.Now.TimeOfDay))
                {
                    <option value="@(Model.Start.Date + timeOption.TimeOfDay)">@timeOption.ToShortTimeString()</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <div><span asp-validation-for="End"></span></div>
        <label asp-for="End" class="form-control"></label>
        <select asp-for="End" class="form-control">
            @for (DateTime timeOption = DateTime.Today.AddHours(9); timeOption.TimeOfDay <= (DateTime.Today + 22.5.Hours()).TimeOfDay; timeOption += 30.Minutes())
            {
                if (Model.Start.Date > DateTime.Today.Date || (Model.Start.Date == DateTime.Today.Date && timeOption.TimeOfDay >= DateTime.Now.TimeOfDay + 30.Minutes()))
                {
                    <option value="@(Model.Start.Date + timeOption.TimeOfDay)">@timeOption.ToShortTimeString()</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <div><span asp-validation-for="Course"></span></div>
        <label asp-for="Course" class="form-control"></label>
        <input asp-for="Course" class="form-control" />
    </div>
    <div class="form-group">
        <div><span asp-validation-for="Description"></span></div>
        <label asp-for="Description" class="form-control"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <button asp-action="RedirectToRoom" asp-controller="Appointment" 
                asp-route-id="@Model.RoomId" 
                asp-route-date="@Model.Start.Date.ToString("MM-dd-yyyy")">Cancel</button>
    </div>
</form>

