@model ReportAppointmentsViewModel
@{
    ViewData["Title"] = "ReportAppointments";
}

<h1 class="justify-content-center">Report Appointments</h1>
@if (Model.Appointments.Count() > 0)
{
    Model.BtnNew.RoomCode = Model.Appointments.First().RoomCode;
    <div class="d-flex align-content-center justify-content-center mt-3 mb-3">
        <a class="btn btn-primary" type="button"
           asp-action="Room"
           asp-controller="Room"
           asp-route-code="@Model.BtnNew.RoomCode"
           asp-route-pDate="@Model.Date">
            Accept
        </a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Message</th>
                    <th>Options</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.Appointments)
                {
                    <tr>
                        <td class="align-middle">@a.Start.ToShortDateString() @a.Start.ToShortTimeString()</td>
                        <td class="align-middle">@(a.IsValid ? "Appointment made successfully" : "Appointment cannot be created on this day")</td>
                        @if (a.IsValid)
                        {
                            <td class="align-middle">
                                <div class="d-flex">
                                    <partial name="ButtonEditAppointmentPartial" for="@a" />
                                    <partial name="ButtonDeleteAppointmentPartial" for="@a" />
                                    <partial name="ButtonRepeatAppointmentPartial" for="@a" />
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="image-sm">
                                    <img class="image-sm" src="~/images/success.png" />
                                </div>
                            </td>
                        }
                        else
                        {
                            Model.BtnNew.StartingDate = a.Start;
                            <td class="align-middle">
                                <div class="text-center h-100 d-block">
                                    <partial name="ButtonCreateNewAppointmentPartial" for="BtnNew" />
                                </div>
                            </td>
                            <td class="align-middle">
                                <div class="image-sm">
                                    <img class="image-sm" src="~/images/fail.png" />
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="d-flex align-items-center justify-content-center h-25">
        <a class="btn btn-primary" type="button"
           asp-action="Room"
           asp-controller="Room"
           asp-route-code="@(Model.BtnNew.RoomCode)">
            Accept
        </a>
    </div>
}
else
{
    <div class="d-flex align-content-center justify-content-center">
        <p>No appointments</p>
    </div>
    <div class="d-flex align-content-center justify-content-center h-25">
        <a class="btn btn-primary" type="button"
           asp-action="RoomList"
           asp-controller="Room">
            Accept
        </a>
    </div>
}


<script defer src="~/js/deleteConfirmation.js" asp-append-version="true"></script>

