@model IEnumerable<Appointment>
@{
    ViewData["Title"] = "ReportAppointments";
}

<h1 class="justify-content-center">Report Appointments</h1>
@if (Model.Count() > 0)
{
    <div class="d-flex align-content-center justify-content-center mt-3 mb-3">
        <a class="btn btn-primary" type="button"
           asp-action="Room"
           asp-controller="Room"
           asp-route-code="@Model.First().RoomCode">
            Accept
        </a>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Date</th>
                <th>Message</th>
                <th>Options</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var a in Model)
            {
                <tr>
                    <td class="align-middle">@a.Start.ToShortDateString() @a.Start.ToShortTimeString()</td>
                    <td class="align-middle">@(a.isValid ? "Appointment made successfully" : "Appointment cannot be created on this day")</td>
                    @if (a.isValid)
                    {
                        <td class="align-middle">
                            <div class="d-flex">
                                <partial name="ButtonEditAppointmentPartial" for="@a" />
                                <partial name="ButtonDeleteAppointmentPartial" for="@a" />
                            </div>
                        </td>
                        <td class="align-middle">
                            <div class="image-sm">
                                <img class="image-sm" src="~/images/success.png" />
                            </div>
                        </td>
                    }
                    else
                    {
                        var btn = new BtnNewAppViewModel
                        {
                            RoomCode = a.RoomCode,
                            RoomId = a.RoomId,
                            StartingDate = a.Start,
                            Message = "Try another time?"
                        };
                        <td class="align-middle">
                            <div class="text-center h-100 d-block">
                                <partial name="ButtonCreateNewAppointmentPartial" for="@btn" />
                            </div>
                        </td>
                        <td class="align-middle">
                            <div class="image-sm">
                                <img class="image-sm" src="~/images/fail.png" />
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex align-items-center justify-content-center h-25">
        <a class="btn btn-primary" type="button"
           asp-action="Room"
           asp-controller="Room"
           asp-route-code="@(Model.First().RoomCode)">
            Accept
        </a>
    </div>
}
else
{
    <div class="d-flex align-content-center justify-content-center">
        <p>No appointments</p>
    </div>
    <div class="d-flex align-content-center justify-content-center h-25">
        <a class="btn btn-primary" type="button"
           asp-action="RoomList"
           asp-controller="Room">
            Accept
        </a>
    </div>
}


<script defer src="~/js/deleteConfirmation.js" asp-append-version="true"></script>

