@model RoomViewModel
@{
    ViewData["Title"] = Model.Room.Name;
}
@*
    Page that displays appointments of the room
    Accessible for all visitors

    Some functionality of the page requires authentication.
*@
@*
    Display Room Information
*@
<h1 class="text-center">@Model.Room.Name</h1>
<div class="row">
    <div class="col text-center">Block</div>
    <div class="col text-center">Floor</div>
    <div class="col text-center">Classroom</div>
</div>
<div class="row">
    <div class="col text-center"><h2>@Model.Room.Block</h2></div>
    <div class="col text-center"><h2>@Model.Room.Floor</h2></div>
    <div class="col text-center"><h2>@Model.Room.Number</h2></div>
</div>

<div class="row">
    <div class="col text-center">Status</div>
    <div class="col text-center">Type</div>
</div>

<div class="row">
    <div class="col text-center"><h2>@Model.Room.Status</h2></div>
    <div class="col text-center"><h2>@Model.Room.Type</h2></div>
</div>

<hr />
@*
    Display date of results
*@
@if (@Model.Pagination.CurrentDate == DateTime.Today)
{
    <div class="text-center mt-3">
        <div><h3><b>Today: @Model.Pagination.CurrentDate.ToLongDateString()</b></h3></div>
    </div>
}
else
{
    <div class="text-center  mt-3">
        <div><h3>@Model.Pagination.CurrentDate.ToLongDateString()</h3></div>
    </div>
}

@*
    Include pagination for room
*@
<partial name="RoomPaginationPartial" for="@Model.Pagination" />

@*
    Create table to display daily appointments
*@
<div>
    <table class="table table-active table-hover">
        <thead>
            <tr>
                <th>Hour</th>
                <th>Course</th>
                <th colspan="3">Instructor</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Room.Schedule.Appointments.Any())
            {
                @foreach (var app in Model.Room.Schedule.Appointments)
                {
                    app.RoomCode = Model.Room.RoomCode;
                    <tr id="@app.Id-header" class="appointment">
                        @if (app.Start.Date >= DateTime.Now.Date &&
                  ViewContext.IsAccessibleForUserOrAdmin(app.UserId))
                        {
                            <td>@app.Start.ToShortTimeString() - @app.End.ToShortTimeString()</td>
                            <td>@app.Course</td>
                            <td>@app.UserName</td>
                            <td class="btn-inline">
                                <partial name="ButtonEditAppointmentPartial" for="@app" />
                                <partial name="ButtonDeleteAppointmentPartial" for="@app" />
                                <partial name="ButtonRepeatAppointmentPartial" for="@app" />
                            </td>

                        }
                        else
                        {
                            <td>@app.Start.ToShortTimeString() - @app.End.ToShortTimeString()</td>
                            <td>@app.Course</td>
                            <td colspan="3">@app.UserName</td>
                        }
                    </tr>
                    <tr id="@app.Id-description" class="hideTr">
                        <td colspan="5" class="d-table-cell text-center">@app.Description</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No Appointments</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*
    Determines if the searched date is not in the past
    to enable user to add new appointments
*@
@if (Model.Pagination.CurrentDate >= DateTime.Today)
{
    // Verifies that only Admin and professors can add appointments
    if (ViewContext.IsUserInRool(nameof(UserRoles.Admin)) ||
        ViewContext.IsUserInRool(nameof(UserRoles.Professor)))
    {
        <div class="form-group">
            <div class="btn-container">
                <a class="btn btn-primary text-center btn-addApm" asp-controller="Appointment" asp-action="AppointmentList"
                   asp-route-code="@Model.Room.RoomCode" asp-route-pDate="@Model.Pagination.CurrentDate.ToString("MM-dd-yyyy")">
                    Add Appointment
                </a>
            </div>
        </div>
    }
}

@*
    Include pagination for room
*@
<partial name="RoomPaginationPartial" for="@Model.Pagination" />

@*
    Include search appointments for specific date
*@
<partial name="RoomFindByDatePartial" />

@*
    javascript file for fade in/out animations
*@
<script defer src="~/js/room.js" asp-append-version="true"></script>
<script defer src="~/js/deleteConfirmation.js" asp-append-version="true"></script>
