@model RoomViewModel
@{
    ViewData["Title"] = Model.Room.Name;
}

<h1 class="text-center">@Model.Room.Name</h1>
<div class="row">
    <div class="col text-center">Block</div>
    <div class="col text-center">Floor</div>
    <div class="col text-center">Classroom</div>
</div>
<div class="row">
    <div class="col text-center"><h2>@Model.Room.Block</h2></div>
    <div class="col text-center"><h2>@Model.Room.Floor</h2></div>
    <div class="col text-center"><h2>@Model.Room.Number</h2></div>
</div>

<div class="row">
    <div class="col text-center">Status</div>
    <div class="col text-center">Type</div>
</div>

<div class="row">
    <div class="col text-center"><h2>@Model.Room.Status</h2></div>
    <div class="col text-center"><h2>@Model.Room.Type</h2></div>
</div>

<hr />

@if (@Model.Pagination.CurrentDate == DateTime.Today)
{
    <div class="text-center mt-3">
        <div><h3><b>Today: @Model.Pagination.CurrentDate.ToLongDateString()</b></h3></div>
    </div>
}
else
{
    <div class="text-center  mt-3">
        <div><h3>@Model.Pagination.CurrentDate.ToLongDateString()</h3></div>
    </div>
}
<partial name="RoomPaginationPartial" for="@Model" />

<div>
    <table class="table table-active table-hover">
        <thead>
            <tr>
                <th>Hour</th>
                <th>Course</th>
                <th colspan="2">Instructor</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Room.Schedule.Appointments.Any())
            {
                @foreach (var app in Model.Room.Schedule.Appointments)
                {
            <tr id="@app.Id-header" class="appointment">
                @if (app.Start.Date >= DateTime.Now.Date &&
                    (ViewContext.HttpContext.User.FindFirst(ClaimTypes.NameIdentifier).Value == app.UserId ||
                    ViewContext.HttpContext.User.IsInRole(nameof(UserRoles.Admin))
                    ))
                {
                    <td>@app.Start.ToShortTimeString() - @app.End.ToShortTimeString()</td>
                    <td>@app.Course</td>
                    <td>@app.UserName</td>
                    <td class="btn-inline">
                        <a class="btn btn-warning btn-group-sm" asp-action="EditAppointment" asp-controller="AppointmentCRUD"
                           asp-route-code="@Model.Room.RoomCode"
                           asp-route-id="@app.Id">
                            Edit
                        </a>
                        <form asp-action="DeleteAppointment" asp-controller="AppointmentCRUD" method="post">
                            <input type="hidden" name="id" value="@app.Id" />
                            <input type="hidden" name="code" value="@Model.Room.RoomCode" />
                            <button class="btn btn-danger btn-group-sm">
                                Delete
                            </button>
                        </form>
                    </td>
                }
                else
                {
                    <td>@app.Start.ToShortTimeString() - @app.End.ToShortTimeString()</td>
                    <td>@app.Course</td>
                    <td colspan="2">@app.UserName</td>
                }
            </tr>
                    <tr id="@app.Id-description" class="hideTr">
                        <td colspan="4" class="d-table-cell text-center">@app.Description</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">No Appointments</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (Model.Pagination.CurrentDate >= DateTime.Today)
{
    if (ViewContext.HttpContext.User.IsInRole(nameof(UserRoles.Admin)) ||
        ViewContext.HttpContext.User.IsInRole(nameof(UserRoles.Professor)))
    {
        <div class="form-group"> 
            <div class="btn-container">
                <a class="btn btn-primary text-center btn-addApm" asp-controller="Appointment" asp-action="AppointmentList" 
                   asp-route-id="@Model.Room.Id" asp-route-searchDate="@Model.Pagination.CurrentDate.ToString("MM-dd-yyyy")">
                    Add Appointment
                </a>
            </div>
        </div>
    }
}

<partial name="RoomPaginationPartial" for="@Model" />

<div>
    <div class="text-center btn-container">
        <form asp-action="FindRoomByDate" asp-controller="Room" method="post">
            <input type="hidden" name="code" value="@Model.Room.RoomCode" />
            <label for="pDate" class="input-group">Search day: </label>
            <input type="date" class="input-group" name="pDate" value="" required />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</div>

<script defer src="~/js/room.js" asp-append-version="true"></script>
