@model RoomViewModel
@{
    ViewData["Title"] = Model.Room.Name;
}

<h1>@Model.Room.Name</h1>
<div class="row">
    <div class="col text-center">Block</div>
    <div class="col text-center">Floor</div>
    <div class="col text-center">Classroom</div>
</div>
<div class="row">
    <div class="col text-center"><h2>@Model.Room.Block</h2></div>
    <div class="col text-center"><h2>@Model.Room.Floor</h2></div>
    <div class="col text-center"><h2>@Model.Room.Number</h2></div>
</div>

<div class="row">
    <div class="col text-center">Status</div>
    <div class="col text-center">Type</div>
</div>

<div class="row">
    <div class="col text-center"><h2>@Model.Room.Status</h2></div>
    <div class="col text-center"><h2>@Model.Room.Type</h2></div>
</div>

@if (@Model.Pagination.CurrentDate == DateTime.Today)
{
    <div>
        <div><b>Today: @Model.Pagination.CurrentDate.ToLongDateString()</b></div>
    </div>
}
else
{
    <div>
        <div>@Model.Pagination.CurrentDate.ToLongDateString()</div>
    </div>
}

<div>
    <table class="table table-active table-hover">
        <thead>
            <tr>
                <th>Hour</th>
                <th>Course</th>
                <th>Instructor</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Room.Schedule.Appointments.Any())
            {
                @foreach (var app in Model.Room.Schedule.Appointments)
                {
                    <tr id="@app.Id-header" class="appointment">
                        <td class="d-table-cell">@app.Start.ToShortTimeString() - @app.End.ToShortTimeString()</td>
                        <td class="d-table-cell">@app.Course</td>
                        <td class="d-table-cell">@app.UserName</td>
                    </tr>
                    <tr id="@app.Id-description" class="hideTr">
                        <td colspan="3" class="d-table-cell text-center">@app.Description</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">No Appointments</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex"> 
    <a class="btn btn-primary text-center" asp-route-id="@Model.Room.Id" asp-route-searchDate="@Model.Pagination.CurrentDate.ToString("MM-dd-yyyy")"
       asp-controller="Room" asp-action="AddAppointment">
        Add Appointment
    </a>
</div>

<div id="pagination" class="row">
    <div class="col align-content-center">
        <ul class="pagination">
            <li class="page-item">
                <a asp-action="Room" asp-route-name="@Model.Room.Name" asp-route-pdate="@Model.Pagination.Yesterday.ToString("MM-dd-yyyy")" class="page-link">
                    <i class="fas fa-step-backward"></i>
                </a>
            </li>

            <li class="page-item">
                <a asp-action="Room" asp-route-name="@Model.Room.Name" asp-route-pdate="@Model.Pagination.Tomorrow.ToString("MM-dd-yyyy")" class="page-link">
                    <i class="fas fa-step-forward"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="col-8">
        <form method="post" asp-action="FindRoom" asp-controller="Room">
            <input type="hidden" name="name" value="@Model.Room.Name" />
            <label for="date" class="input-group">Serch day: </label>
            <input type="date" class="input-group" name="pDate" value="" required/>
            <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </form>
    </div>
</div>

<script defer src="~/js/room.js" asp-append-version="true"></script>
