@model RepeatAppViewModel
@{
    ViewData["Title"] = "RepeatAppointment";
    var x = Model;
}

<h1>Repeat Appointment</h1>

<div asp-validation-summary="All" class="text-danger validation-summary-errors"></div>
<form asp-action="RepeatAppointment" asp-controller="AppointmentCRUD" method="post">
    <div class="form-group">
        Repeat appointment &nbsp;
        <select asp-for="PeriodType">
            <option value="@RepeatTime.Unselect" selected="selected">Select a period</option>
            @foreach (var period in ((RepeatTime[])Enum.GetValues(typeof(RepeatTime)))
             .Except(new List<RepeatTime> { RepeatTime.Never, RepeatTime.Unselect })
             .OrderBy(r => r.ToString()))
            {
                <option value="@period">@period</option>
            }
        </select>
        <span id="once">
            &nbsp;the day &nbsp;
            <input asp-for="TargetDay" type="date"/>&nbsp;at&nbsp;
            <input asp-for="Start" type="time" value="@Model.Start.ToString()"/>&nbsp;-&nbsp;
            <input asp-for="End" type="time" value="@Model.End.ToString()"/>
        </span>
        <span id="another">
            &nbsp;for a number of &nbsp;
            <input asp-for="RepeatNumber" min="1" />
            <span id="period">days</span>.
        </span>
    </div>
    <div class="form-group mt-3" id="question">
        <span class="">Do you want to include weekends?</span>&nbsp;
        <label class="checkbox-label">
            <input asp-for="IncludeWeekends" />
            <span class="checkbox-custom rectangular"></span>
        </label>
    </div>
    <input asp-for="Code" />
    <input asp-for="Id" />
    <input asp-for="Date" />
    <button class="btn btn-primary" type="submit">Repeat</button>
    <a class="btn btn-secondary" type="button"
          asp-action="Room" 
          asp-controller="Room"
          asp-route-code="@Model.Code"
          asp-route-pdate="@Model.Date">Cancel</a>
</form>

<script defer src="~/js/repetition.js" asp-append-version="true"></script>