@model CreateUserViewModel

@{
    ViewData["Title"] = "Edit User";
}

@*
    Page for additing user accounts information
    Accessible Admin users or the specific user only.


    Display massage if password change succeeded
*@
@if (TempData["PasswordChanged"] != null)
{
    <div class="text-center p-2 text-info">
        <p>@TempData["PasswordChanged"]</p>
    </div>
}

<div><h1 class="text-center">Edit User</h1></div>
<div asp-validation-summary="All" class="text-danger validation-summary-errors"></div>
@*
    Form to change password only
    All other filelds are not updated
*@

@if (ViewContext.IsUserInRool(UserRoles.Admin.ToString()))
{
    <partial name="ChangePasswordAdmin" for="@Model" />
}
else
{
    <partial name="ChangePasswordUser" for="@Model" />
}

@*
    Form to update fields other than password
*@
<form asp-action="Edit" asp-controller="Admin" method="post">
    <input asp-for="ReturnUrl" type="hidden" />
    <input asp-for="Editing" type="hidden" />
    <input asp-for="Id" type="hidden" />
    <partial name="UserFieldsPartial" for="@Model" />

    <div>
        <button type="submit" class="btn btn-primary">Update</button>

        @if (String.IsNullOrEmpty(Model.ReturnUrl))
        {
            <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Cancel</a>
        }
        else
        {
            <a href="@Model.ReturnUrl" class="btn btn-secondary">Cancel</a>
        }
    </div>
</form>
